<?xml version="1.0"?>

<robot name="my_first_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find my_first_robot)/src/description/gazebo.urdf.xacro" />

  <!-- Define robot constants -->
  <xacro:property name="base_width" value="1.8"/>
  <xacro:property name="base_length" value="0.9"/>
  <xacro:property name="base_height" value="0.45"/>
  <xacro:property name="wheel_length" value="0.1"/>
  <xacro:property name="wheel_radius" value="0.5"/>
  <xacro:property name="caster_wheel_length" value="0.01"/>
  <xacro:property name="caster_wheel_radius" value="${(wheel_radius-base_height/2)/2}"/>
  
  <material name="block_color">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="wheel_color">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="caster_wheel_color">
    <color rgba="0.3 0.4 1 1"/>
  </material>
  
  <link name="map_link">
  </link>

  <link name="base_footprint">
  </link>

  <joint name="base_footprint_joint" type="fixed">
      <parent link="map_link"/>
      <child link="base_footprint"/>
      <origin xyz="0 0 ${-base_height}" rpy="0 0 0"/>
  </joint>

  <joint name="base_link_joint" type="fixed">
      <parent link="map_link"/>
      <child link="base_link"/>
      <origin xyz="${-base_width} 0 ${wheel_radius}"/>
  </joint>

<!-- Base Link-->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="${base_width} ${base_length} ${base_height}"/>
      </geometry>
      <material name = "block_color"/>
    </visual>
    <collision>
      <geometry>
        <box size="${base_width} ${base_length} ${base_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="20.0"/> <!-- масса базы, кг -->
      <origin xyz="0 0 0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
              iyy="1.0" iyz="0.0"
              izz="1.5"/>
    </inertial>
  </link>
<!-- 
  <gazebo reference="base_link">
      <material>Gazebo/Orange</material>
  </gazebo> -->
<!-- Wheel Macro -->
  <xacro:macro name="wheel" params="prefix y_reflect">
    <link name = "${prefix}_link">
      <visual>
        <geometry>
          <cylinder length = "${wheel_length}" radius = "${wheel_radius}"/>
        </geometry>
        <material name="wheel_color"/>
        <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <cylinder length = "${wheel_length}" radius = "${wheel_radius}"/>
        </geometry>
        <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="2.0"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.05" ixy="0" ixz="0"
                iyy="0.2" iyz="0"
                izz="0.2"/>
      </inertial>
    </link>

    <joint name = "base_to_${prefix}" type = "continuous">
      <parent link = "base_link"/>
      <child link = "${prefix}_link"/>
      <origin xyz="0 ${y_reflect * (base_length/2 + wheel_length/2)} 0"/>
      <axis xyz="0 1 0"/>
    </joint>
  </xacro:macro>

  <xacro:wheel prefix="right_wheel" y_reflect="-1" />
  <xacro:wheel prefix="left_wheel" y_reflect="1" />

  <xacro:macro name = "caster_wheel" params = "prefix x_reflect y_reflect">
    <link name="${prefix}_link">
      <visual>
        <geometry>
          <cylinder length="${caster_wheel_length}" radius = "${caster_wheel_radius}"/>
        </geometry>
        <material name="caster_wheel_color"/>
        <origin rpy = "1.57075 0 0" xyz = "0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <cylinder length="${caster_wheel_length}" radius = "${caster_wheel_radius}"/>
        </geometry>
        <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.5"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.01" ixy="0" ixz="0"
                iyy="0.02" iyz="0"
                izz="0.02"/>
      </inertial>
    </link>
    <joint name = "base_to_${prefix}" type = "fixed">
      <parent link="base_link"/>
      <child link="${prefix}_link"/>
      <origin xyz ="${x_reflect * base_width/2} ${y_reflect * base_length/2} ${-base_height/2 - caster_wheel_radius}"/>
    </joint>
  </xacro:macro>

  <xacro:caster_wheel prefix="rd_caster_wheel" x_reflect = "1" y_reflect="-1" />
  <xacro:caster_wheel prefix="ld_caster_wheel" x_reflect = "-1" y_reflect="-1" />
  <xacro:caster_wheel prefix="ru_caster_wheel" x_reflect = "1" y_reflect="1" />
  <xacro:caster_wheel prefix="lu_caster_wheel" x_reflect = "-1" y_reflect="1" />


</robot>
